In [5]:
import pandas as pd
import pandas as pd

3.1.
1. Đọc file stocks1.csv vào DataFrame stocks1.
2. Hiển thị 5 dòng đầu tiên của stocks1.
3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột trong stocks1.
4. Xem thông tin tổng quan (info) của stocks1.

In [6]:
# 1. Đọc file stocks1.csv vào DataFrame stocks1.
stocks1 = pd.read_csv('D:\Lê thị phương linh\lab3_le thi phuong linh_057\DATA\stocks1.csv')

# 2. Hiển thị 5 dòng đầu tiên của stocks1.
print("5 dòng đầu tiên của stocks1:")
print(stocks1.head())

# 3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột trong stocks1.
print("Kiểu dữ liệu của mỗi cột trong stocks1:")
print(stocks1.dtypes)

# 4. Xem thông tin tổng quan (info) của stocks1.
print("Thông tin tổng quan của stocks1:")
print(stocks1.info())

5 dòng đầu tiên của stocks1:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
Kiểu dữ liệu của mỗi cột trong stocks1:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object
Thông tin tổng quan của stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

LAB3.2
1. Kiểm tra xem trong stocks1 có dữ liệu Null nào không.
2. Thay thế dữ liệu Null ở cột high bằng giá trị trung bình của cột high.
3. Thay thế dữ liệu Null ở cột low bằng giá trị trung bình của cột low.
4. Hiển thị thông tin tổng quan để xác nhận không còn dữ liệu Null

In [7]:
# Kiểm tra xem trong stocks1 có dữ liệu Null nào không.
print("Kiểm tra xem trong stocks1 có dữ liệu Null nào không:")
print(stocks1.isnull().sum())

# Thay thế dữ liệu Null ở cột high bằng giá trị trung bình của cột high.
stocks1["high"].fillna(stocks1["high"].mean(), inplace=True)

# Thay thế dữ liệu Null ở cột low bằng giá trị trung bình của cột low.
stocks1["low"].fillna(stocks1["low"].mean(), inplace=True)

# Hiển thị thông tin tổng quan để xác nhận không còn dữ liệu Null
print("\nThông tin tổng quan sau khi thay thế dữ liệu Null:")
print(stocks1.info())

Kiểm tra xem trong stocks1 có dữ liệu Null nào không:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

Thông tin tổng quan sau khi thay thế dữ liệu Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

lab 3.3

In [8]:
#1. Đọc file stocks2.csv vào DataFrame stocks2
path_stocks2 = 'D:\Lê thị phương linh\lab3_le thi phuong linh_057\DATA\stocks2.csv'
stocks2_df = pd.read_csv(path_stocks2)
#2. Gộp stocks1 và stocks2 thành DataFrame mới tên là stocks
stocks_df = pd.concat([stocks1, stocks2_df], ignore_index=True)

In [9]:
# hiển thi data frame sau khi gộp
print("dataframe sau khi gộp stocks1 và stocks 2")
print ( stocks_df.head())
print("\nthoong tin tổng quan của dataframe stock_df sau khi gộp")
stocks_df.info()

dataframe sau khi gộp stocks1 và stocks 2
       date symbol     open         high          low    close   volume
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

thoong tin tổng quan của dataframe stock_df sau khi gộp
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    25 non-null     object
 1   symbol  25 non-null     object
 2   open    25 non-null     float64
 3   high    25 non-null     float64
 4   low     25 non-null     float64
 5   close   25 non-null     float64
 6   volume  25 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.5+ KB

LAB 3.4. KẾT HỢP DỮ LIỆU TỪ NHIỀU NGUỒN (thời gian thực hiện: 20-30 phút.)
Mục Tiêu: Nắm được cách kết hợp dữ liệu từ các file khác nhau và thực hiện phân tích cơbản.
Nhiệm Vụ:
1. Đọc file companies.csv vào DataFrame companies.

2. Hiển thị 5 dòng đầu tiên của companies.

3. Kết hợp stocks (đã tạo từ bài 3) và Companies dựa trên cột chung là symbol.

4. Tính giá đóng cửa (close) trung bình cho mỗi công ty.
5. Hiển thị kết quả cho 5 công ty đầu tiên.

In [10]:
# ĐỌC file companies. csv và Dataframe companies_df
#giả sử đường dẫn là "path_companies"
path_companies = 'D:\Lê thị phương linh\lab3_le thi phuong linh_057\DATA\stocks1.csv'
companies_df = pd.read_csv(path_companies)

#2. hiển thị 5 dòng đầu tiên
print("5 dòng đầu tiên của compaies")
print(companies_df.head())

5 dòng đầu tiên của compaies
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

In [ ]:
#3 Kết hợp stocks (đã tạo từ bài 3) và Companies dựa trên cột chung là symbol.
merged_df = pd.merge(stocks_df, companies_df, left_on='symbol', right_on='name',how='left')

#hiện thị kết quả sau khi kết hợp
print("kết quả sau khi kết hợp stock_df và companies_df")
print(merged_df.head())

LAB 3.5: SỬ DỤNG MULTIINDEX VÀ GROUPBY(thời gian thực hiện: 30-40 phút.)
Mục Tiêu: Hiểu cách sử dụng MultiIndex và GroupBy để phân tích dữ liệu một cách hiệu
quả.
Nhiệm Vụ:
1. Tạo MultiIndex cho DataFrame stocks bằng cách sử dụng cột date và symbol làm
chỉ mục.
2. Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung
bình cho mỗi ngày, cho mỗi mã chứng khoán.
3. Sắp xếp dữ liệu theo ngày và mã chứng khoán.
4. Hiển thị kết quả cho 5 ngày đầu tiên.

In [ ]:
#1
stocks_df.set_index(['date', 'symbol'], inplace= True)

# hiển thị data frame sau khi tạo multiindex
print('dataframe stocks sau khi tạo multiIndex')
print(stocks_df.head)

dataframe stocks sau khi tạo multiIndex
<bound method NDFrame.head of                     open         high          low    close    volume
date     symbol
01-03-19 AMZN    1655.13  1674.260000  1651.000000  1671.73   4974877
04-03-19 AMZN    1685.00  1709.430000  1674.360000  1696.17   6167358
05-03-19 AMZN    1702.95  1707.800000  1689.010000  1692.43   3681522
06-03-19 AMZN    1695.97   943.511538   926.775385  1668.95   3996001
07-03-19 AMZN    1667.37  1669.750000  1620.510000  1625.95   4957017
01-03-19 AAPL     174.28   175.150000   172.890000   174.97  25886167
04-03-19 AAPL     175.69   177.750000   173.970000   175.85  27436203
05-03-19 AAPL     175.94   176.000000   174.540000   175.53  19737419
06-03-19 AAPL     174.67   175.490000   173.940000   174.52  20810384
07-03-19 AAPL     173.87   174.440000   172.020000   172.50  24796374
01-03-19 GOOG    1124.90  1142.970000  1124.750000  1140.99   1450316
04-03-19 GOOG    1146.99  1158.280000  1130.690000  1147.80   1446047
05-03-19 GOOG    1150.06   943.511538   926.775385  1162.03   1443174
06-03-19 GOOG    1162.49  1167.570000  1155.490000  1157.86   1099289
07-03-19 GOOG    1155.72  1156.760000  1134.910000  1143.30   1166559
01-03-19 FB       162.60   163.132000   161.690000   162.28  11097770
04-03-19 FB       163.90   167.500000   163.830000   167.37  18894689
05-03-19 FB       167.37   171.880000   166.550000   171.26  28187890
06-03-19 FB       172.90   173.570000   171.270000   172.51  21531723
07-03-19 FB       171.50   171.740000   167.610000   169.13  18306504
01-03-19 TSLA     306.94   307.130000   291.900000   294.79  22911375
04-03-19 TSLA     298.12   299.000000   282.780000   285.36  17096818
05-03-19 TSLA     282.00   284.000000   270.100000   276.54  18764740
06-03-19 TSLA     276.48   281.505800   274.390000   276.24  10335485
07-03-19 TSLA     278.84   284.700000   274.250000   276.59   9442483>

In [ ]:
#2 tính giá trị trung bình
gia_tb_ngay_tung_ma_ck = stocks_df.groupby(level=['date','symbol']).mean()
print("giá trung bình từng ngày của 5 mã đầu tiên: \n",gia_tb_ngay_tung_ma_ck.head())
#3 sắp xếp dueax liệu theo ngày và mã chứng khoán
sorted_stocks_df= gia_tb_ngay_tung_ma_ck.sort_index()
#4 hiển thị kết quả 5 ngày đầu tiên
print("kết quả 5 ngày đầu tiên sau khi sắp xếp:")
print(sorted_stocks_df.head())

LAB 3.6: TẠO VÀ PHÂN TÍCH PIVOT TABLE 
Mục Tiêu: Biết cách tạo và sử dụng Pivot Table để phân tích dữ liệu.
Nhiệm Vụ:
1. Tạo Pivot Table từ DataFrame stocks với date làm chỉ mục, symbol làm cột, và giá
trị trung bình của close làm giá trị.
2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol).
3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp.
4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất.

In [17]:
#1
pivot_table = stocks_df.pivot_table(values= "close",index='date',columns='symbol',aggfunc='mean')

#2
pivot_table['total volume'] = stocks_df.groupby(['date','symbol'])['volume'].sum().groupby(level='symbol')

#3 
pivot_table_sorted= pivot_table.sort_values('total volume', ascending=False)

#4 
print("kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất")
#tạo pivot table moi chỉ với cột volume
pivot_table_volume = stocks_df.pivot_table(values= "close",index='date',columns='symbol',aggfunc='mean')

#tính tổng volume cho mỗi symbol
total_volume_per_symbol= pivot_table_volume.sum()

#sắp xếp tổng volume từ cao xuống thấp
total_volume_sorted = total_volume_per_symbol.sort_values(ascending=False)

#hiểm thị kết quả top 5 mã chứng khoán cao nhất 
print('hiểm thị kết quả top 5 mã chứng khoán cao nhất ')
print(total_volume_sorted.head())

kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất
hiểm thị kết quả top 5 mã chứng khoán cao nhất
symbol
AMZN    8355.23
GOOG    5751.98
TSLA    1409.52
AAPL     873.37
FB       842.55
dtype: float64